*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(196, 255, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
}

.container{
    display: flex;
    
}

.left-container{
    /* background-color: blueviolet; */
    width: 30%;
    min-height: 90vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-container h2{
    font-size: 37px;
}

.left-container input{
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.left-container button{
    font-size: 25px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.left-container ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 15px;
}

.left-container ul li{
    background-color: grey;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
}

.right-container{
    /* background-color: rgb(128, 0, 0); */
    width: 70%;
    min-height: 90vh;
    padding: 5px;
}

.right-container .today{
    border: 1px solid black;
    padding: 5px;
}

.today h2{
    font-size: 37px;
}

.today p{
    line-height: 2.2;
    font-size: 21px;
}

.next-five{
    margin-top: 20px;
}

.next-five h2{
    font-size: 30px;
}

.next-five .items-container{
    display: flex;
    justify-content: space-between;
}

.items-container div{
    background-color: rgb(16, 16, 90);
    width: 19%;
    height: 250px;
    color: white;
    padding: 5px;
}

.items-container div h3{
    font-size: 26px;
}

.items-container div h4{
    font-size: 25px;
    line-height: 2;
    padding-left: 5px;
}

.items-container div p{
    line-height: 2.2;
    font-size: 21px;
}

/* .card{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: aqua;
} */

/* .h2{
    tex
} */